html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #292929;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-kerning: normal;
  font-family: 'Montserrat', serif;
  margin: 0 auto;
  min-width: 1200px;
  font-size: 1.6rem;
  overflow: hidden;
  @include breakpoint(sp) {
    max-width: 768px;
    min-width: inherit;
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, p, address, hr, table, pre {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  &:hover, &:active, &:focus {
    text-decoration: none;
    opacity: .7;
    img {
      opacity: .7;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

dd {
  margin-left: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}
